@import 'reset';
@import 'flex';
@import 'fonts';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Nunito:600');
$fonts: 'Nunito',
'Source Sans Pro',
serif;
#base-wrapper {
    height: 100%;
    width: 100%;
    @include flexbox;
}

#mother-wrapper {
    @extend #base-wrapper;
    // height: 100%;
    background: -webkit-linear-gradient(-1deg, rgb(14, 54, 77), rgb(6, 6, 8));
    background: linear-gradient(-1deg, rgb(14, 54, 77), rgb(6, 6, 8));
    flex-direction: column;
}

#logo-wrapper {
    @include flexbox;
    width: 100%;
    height: 50%;
    background: url('../../images/logo2.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: center;
    background-position-y: 20%;
    opacity: 0.85;
    align-items: center;
    justify-content: center;

}

#bottom-wrapper {
    @include flexbox;
    width: 100%;
    height: 50%;
    align-items: center;
}


/*Hover effects*/

.iconsHover {
    width: 10rem;
    height: 10rem;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.iconsHoverBorder {
    width: 0px;
    height: 0px;
    border: 2px solid #425462;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.iconsBg {
    width: 9rem;
    height: 9rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #425462;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iconsHoverBg {
    width: 9rem;
    height: 9rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #425462;
    background: rgb(191, 210, 85);
    // background: -moz-linear-gradient(-45deg, rgb(191, 210, 85) 0%, rgb(142, 185, 42) 50%, rgb(114, 170, 0) 51%, rgb(158, 203, 45) 100%);
    // background: -webkit-linear-gradient(-45deg, rgb(191, 210, 85) 0%, rgb(142, 185, 42) 50%, rgb(114, 170, 0) 51%, rgb(158, 203, 45) 100%);
    // background: linear-gradient(135deg, rgb(191, 210, 85) 0%, rgb(142, 185, 42) 50%, rgb(114, 170, 0) 51%, rgb(158, 203, 45) 100%);
    background: -moz-linear-gradient(-45deg, rgb(179, 55, 55) 0%, rgb(171, 33, 33) 50%, rgb(119, 23, 23) 51%, rgb(102, 19, 19) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(179, 55, 55) 0%, rgb(171, 33, 33) 50%, rgb(119, 23, 23) 51%, rgb(102, 19, 19) 100%);
    background: linear-gradient(135deg, rgb(179, 55, 55) 0%, rgb(171, 33, 33) 50%, rgb(119, 23, 23) 51%, rgb(102, 19, 19) 100%);
    opacity: 0;
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: aopacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.fa-2x {
    font-size: 6rem;
}

.iconCircleInt {
    width: 9rem;
    height: 9rem;
    border: 1px solid #425462;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #425462;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: none;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.iconsHoverFont {
    position: absolute;
    z-index: 25;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


/* Hovers */

.iconsHover:hover .iconsHoverBorder {
    width: 10rem;
    height: 10rem;
    border: 2px solid #425462;
    opacity: 1;
}

.iconsHover:hover .iconsHoverBg {
    opacity: 1;
}

.iconsHover:hover .ico2 {
    color: #fff;
    // -moz-animation: pulse .6s 1 ease-in-out;
    // -o-animation: pulse .6s 1 ease-in-out;
    // -webkit-animation: pulse .6s 1 ease-in-out;
    // animation: pulse .6s 1 ease-in-out;
    -moz-animation: pulse .6s infinite;
    -o-animation: pulse .6s infinite;
    -webkit-animation: pulse .6s infinite;
    animation: pulse .6s infinite;
}


/* pulse animation */

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1, 1);
    }
    25% {
        -webkit-transform: scale(1.5, 1.5);
    }
    50% {
        -webkit-transform: scale(1, 1);
    }
    75% {
        -webkit-transform: scale(1.2, 1.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1, 1);
    }
    25% {
        -moz-transform: scale(1.5, 1.5);
    }
    50% {
        -moz-transform: scale(1, 1);
    }
    75% {
        -moz-transform: scale(1.2, 1.2);
    }
    100% {
        -moz-transform: scale(1, 1);
    }
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(1, 1);
    }
    25% {
        -o-transform: scale(1.5, 1.5);
    }
    50% {
        -o-transform: scale(1, 1);
    }
    75% {
        -o-transform: scale(1.2, 1.2);
    }
    100% {
        -o-transform: scale(1, 1);
    }
}

@-ms-keyframes pulse {
    0% {
        -ms-transform: scale(1, 1);
    }
    25% {
        -ms-transform: scale(1.5, 1.5);
    }
    50% {
        -ms-transform: scale(1, 1);
    }
    75% {
        -ms-transform: scale(1.2, 1.2);
    }
    100% {
        -ms-transform: scale(1, 1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.5, 1.5);
    }
    50% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

#header {
    font-size: 4rem;
    color: #fff;
    margin-top: 22%;
}