@import 'reset';
@import 'flex';
@import 'fonts';
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Nunito:600');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
$fonts: 'Nunito',
'Libre Baskerville',
'Great Vibes',
serif;
#base-wrapper {
    height: 100%;
    width: 100%;
    @include flexbox;
}

#mother-wrapper {
    @extend #base-wrapper;
    // height: 100%;
    background: -webkit-linear-gradient(-1deg, rgb(14, 54, 77), rgb(6, 6, 8));
    background: linear-gradient(-1deg, rgb(14, 54, 77), rgb(6, 6, 8));
    flex-direction: column;
}

#logo-wrapper {
    @include flexbox;
    width: 100%;
    height: 50%;
    background: url('../../images/logo2.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: center;
    background-position-y: 20%;
    opacity: 0.85;
    align-items: center;
    justify-content: center;
}

#bottom-wrapper {
    @include flexbox;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*Hover effects*/

.iconsHover {
    width: 10rem;
    height: 10rem;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.iconsHoverBorder {
    width: 0px;
    height: 0px;
    border: 2px solid #425462;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.iconsBg {
    width: 9rem;
    height: 9rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #425462;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iconsHoverBg {
    width: 9rem;
    height: 9rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #425462;
    background: rgb(191, 210, 85);
    // background: -moz-linear-gradient(-45deg, rgb(191, 210, 85) 0%, rgb(142, 185, 42) 50%, rgb(114, 170, 0) 51%, rgb(158, 203, 45) 100%);
    // background: -webkit-linear-gradient(-45deg, rgb(191, 210, 85) 0%, rgb(142, 185, 42) 50%, rgb(114, 170, 0) 51%, rgb(158, 203, 45) 100%);
    // background: linear-gradient(135deg, rgb(191, 210, 85) 0%, rgb(142, 185, 42) 50%, rgb(114, 170, 0) 51%, rgb(158, 203, 45) 100%);
    background: -moz-linear-gradient(-45deg, rgb(179, 55, 55) 0%, rgb(171, 33, 33) 50%, rgb(119, 23, 23) 51%, rgb(102, 19, 19) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(179, 55, 55) 0%, rgb(171, 33, 33) 50%, rgb(119, 23, 23) 51%, rgb(102, 19, 19) 100%);
    background: linear-gradient(135deg, rgb(179, 55, 55) 0%, rgb(171, 33, 33) 50%, rgb(119, 23, 23) 51%, rgb(102, 19, 19) 100%);
    opacity: 0;
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.fa-2x {
    font-size: 6rem;
}

.iconCircleInt {
    width: 9rem;
    height: 9rem;
    border: 1px solid #425462;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #425462;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: none;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.iconsHoverFont {
    position: absolute;
    z-index: 25;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


/* Hovers */

.iconsHover:hover .iconsHoverBorder {
    width: 10rem;
    height: 10rem;
    border: 2px solid #425462;
    opacity: 1;
}

.iconsHover:hover .iconsHoverBg {
    opacity: 1;
}

.iconsHover:hover .ico2 {
    color: #fff;
    // -moz-animation: pulse .6s 1 ease-in-out;
    // -o-animation: pulse .6s 1 ease-in-out;
    // -webkit-animation: pulse .6s 1 ease-in-out;
    // animation: pulse .6s 1 ease-in-out;
    -moz-animation: pulse .6s infinite;
    -o-animation: pulse .6s infinite;
    -webkit-animation: pulse .6s infinite;
    animation: pulse .6s infinite;
}


/* pulse animation */

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1, 1);
    }
    25% {
        -webkit-transform: scale(1.5, 1.5);
    }
    50% {
        -webkit-transform: scale(1, 1);
    }
    75% {
        -webkit-transform: scale(1.2, 1.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1, 1);
    }
    25% {
        -moz-transform: scale(1.5, 1.5);
    }
    50% {
        -moz-transform: scale(1, 1);
    }
    75% {
        -moz-transform: scale(1.2, 1.2);
    }
    100% {
        -moz-transform: scale(1, 1);
    }
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(1, 1);
    }
    25% {
        -o-transform: scale(1.5, 1.5);
    }
    50% {
        -o-transform: scale(1, 1);
    }
    75% {
        -o-transform: scale(1.2, 1.2);
    }
    100% {
        -o-transform: scale(1, 1);
    }
}

@-ms-keyframes pulse {
    0% {
        -ms-transform: scale(1, 1);
    }
    25% {
        -ms-transform: scale(1.5, 1.5);
    }
    50% {
        -ms-transform: scale(1, 1);
    }
    75% {
        -ms-transform: scale(1.2, 1.2);
    }
    100% {
        -ms-transform: scale(1, 1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.5, 1.5);
    }
    50% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

#header {
    font-size: 4rem;
    color: #fff;
    margin-top: 22%;
    letter-spacing: 2.5px;
}

#hint-text {
    margin-top: 10%;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
}

#overlay {
    overflow: auto;
    @include flexbox;
    display: none;
    position: fixed;

    height: 100%;
    width: 100%;
    z-index: 50;
    flex-direction: column;
    align-items: center;
    background: -webkit-linear-gradient(13deg, rgb(235, 231, 232), rgb(255, 255, 255));
    background: linear-gradient(13deg, rgb(235, 231, 232), rgb(255, 255, 255));
}

#health-title {
    color: #d54d7b;
    font-family: "Great Vibes", cursive;
    font-size: 5.4rem;
    line-height: 120px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    width: 100%;
}

.suggestion {
    display: none;
    color: #7a7c7f;
    font-size: 29px;
    font-family: 'Libre Baskerville', 'Nunito', serif;
    line-height: 38px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    padding-top: 15px;
}

#sub-text {
    font-family: 'Libre Baskerville', 'Nunito', serif;
    line-height: 45px;
    // padding-top: 20px;
    font-style: italic;
    color: #B6B6B6;
    font-size: 1.2rem;
    margin-top: 4px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    width: 85%;
}


/*button styling*/

.button-border-thick.button-plain,
.button-border-thin.button-plain,
.button-border.button-plain,
.button-plain.button-border-thick,
.button-plain.button-border-thin {
    color: #d54d7b;
}

.button-plain {
    border-color: #d54d7b;
    background-color: transparent;
}

.button-border.button-plain:hover {
    background-color: #d54d7b;
    color: #fff;
    border-color: #d54d7b;
}

.button {
    margin-top: 4vh;
}


/*Profile card*/

.content {
    @include flexbox;
    justify-content: center;
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
    margin-top: 8%;
    margin-bottom: 4%;
}

.card {
    width: 100%;
    height: 20%;
    // padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.card:after {
    content: '';
    display: block;
    width: 180px;
    height: 300px;
    background: #5E1623;
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.firstinfo {
    @include flexbox;
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.firstinfo img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

// .firstinfo .profileinfo {
//     // padding: 0px 20px;
// }

.firstinfo .profileinfo h1 {
    font-size: 1.8em;
}

.firstinfo .profileinfo h3 {
    font-size: 1.2em;
    color: #B30606;
    font-style: italic;
}

.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
}

@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -600px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}

@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}

@-webkit-keyframes animatop {
    0% {
        opacity: 0;
        bottom: -600px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@-webkit-keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}

@-webkit-keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}
#image-wrapper{
    @include flexbox;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: center;
}

#desc-wrapper{
    @include flexbox;
    height: 100%;
    width: 60%;
    flex-direction: column;
    justify-content: center;
}
.name{
    font-family: 'Baskerville', serif;
    font-size: 1.5rem;
}
